<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.medicine_storeConnectionString"
            connectionString="Data Source=DESKTOP-V38UNGC\SQLEXPRESS;Initial Catalog=medicine_store;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>